@import './Variables.scss';


  
.sectionclientes__div{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px;

        h1{
                text-align: center;
                font-family:'Montserrat', sans-serif;
                color: #003644 ;
                font-size: $font-size__titulos;  
        }
        p{
                text-align: center;
                margin-top: 80px;
                font-family: 'Open Sans', sans-serif;
                color: #003644 ;
                font-size: 20px;
        }
}

.div__hrclientes{
        display: flex;
        justify-content: center;
        margin: 30px;

        hr{
                width: 50%;  
        }
}

 


.section2clientes{
            
            height: 100vh;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 100px 100px 100px 100px 100px 100px;
            grid-template-areas:
            "article1    article2     article2" 
            "article1    article2     article2" 
            "article1    article2     article2"
            "article1    article3     article3"
            "article1    article3     article3"
            "article1    article3     article3";
            

    }



    .section2clientes__article1{
            grid-area: article1;
          
           
            
    }
    
    .section2clientes__article2{
            grid-area: article2;
            
           
    }

    

    .section2clientes__article3{
            grid-area: article3;
           
           
    }

    .section2clientes__article1__div{
            display: flex;
            flex-direction: column;
            margin: 25px;
           
            

    }
    .section2clientes__article2__div{
            display: flex;
           flex-direction: row-reverse;
           margin: 25px;
           


    }

    .section2clientes__article2__div__div1{
            display: flex;
            flex-direction: column;
            width: 50%;
    }


    .section2clientes__article3__div{
            display: flex;
            margin: 25px;

           
            
    }

    .section2clientes__article3__div__div1{
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-left: 50px;
    }

    .section2clientes__article__h2{
            text-align: center;
            font-family: 'Montserrat', sans-serif ;
            color: #003644 ;
            text-decoration: underline;
            margin: 10px;

    }

    .section2clientes__article__p{
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            color: black ;
            font-size: 15px;
            
         
    }

   

    .section2__article1__img{
            transform: translatex(20%);
            height: 350px;
            width: 300px;
            margin-top: 20px;
    }

    .section2__article2__img{
            height: 260px;
            width: 250px;
            margin-right: 50px;
    }

    .section2__article3__img{
            height: 260px;
            width: 250px;
            margin-left: 50px;

    

    }