.ubicacionh1contacto{
    text-align: center;
    margin: 50px;
    font-family:  'Montserrat', sans-serif ;
    color: #003644;
    font-size: $font-size__titulos;
}

.sectioncontacto{
   margin-top: 100px;
}

@media(max-width:992px){
   
    .container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0;
        margin-left: 0
    }

    .row{
       margin: 0px ;
   }
   
   
    .maparesponsive{
        display: none;
    }
    
    .formresponsive{
        position: relative;
        left: 50%;
        
    }
}










