.ubicacionh1contacto{
    text-align: center;
    margin: 50px;
    font-family:  'Montserrat', sans-serif ;
    color: #003644;
    font-size: $font-size__titulos;
}

.sectioncontacto{
   margin-top: 100px;
}












