@import './Variables.scss';
*{
    margin: 0;
    padding: 0;
}       


.section1index{

        div video{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -100;
        top: 50px;
        }
        div h2{
         /* aplico operacion sass*/
         margin: 40px + 10px;
         text-transform: initial;
         text-align: center;
         font-family: 'Montserrat', sans-serif;
         color:white;
         font-size: 120px;
         font-style: inherit;        
        } 
}

.indexdiv2{
        display: flex;
        justify-content: center;
        margin: 150px;

        hr{
        width: 75%;    
        }
}

.section2index__div__1{

        h2{
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                color: $color-textos;
                font-size: 40px;    
        }
        p{
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                font-size: 30px;
                color: $color-textos;
                margin: 30px;      
        }
}



.indexcarrousel__img{
        width: 100%;
        height: 400px;
        
        
}

/*condicionales*/

@if $h1__black == oscuro {

        .section1index__h2{
                color: black;
                border:white;
        }   
} @else if $h1__black == claro{
        .section1index__h2{
                color: white;
        }
} 

.indexdiv3{
        display: flex;
        justify-content: center;

        hr{
        width: 75%;    
        }
}

.section3__img{
        width: 100%;
}

.section3index__h2{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: $color-textos;
        font-size: 40px;
}  

.section3index__p{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        color: $color-textos;
        margin: 30px; 
}
