.h1nosotros{
    text-align: center;
    margin: 50px;
    font-family:  'Montserrat', sans-serif ;
    color: #003644;
    font-size: $font-size__titulos;
}

.section1nosotros{
    margin: 100px;
    text-align: center;
}

.parrafosectionnosotros{
    font-family: 'Open Sans', sans-serif;
    color: #003644;
    margin: 30px;
    font-size: 20px;
}
