
.section1servicios{
    h1{
    margin: 50px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    color: #003644 ;
    font-size: $font-size__titulos;
    }
    p{
    margin: 100px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #003644 ;
    font-size: 20px;

    }

}

.serviciosdiv1{
    display: flex;
    justify-content: center;
    hr{
    width: 50%;
    color: #003644 ;
    }
}

.sectionservicios__article{
    h2{
    font-family:'Montserrat', sans-serif;
    color: #003644 ;
    text-align: center;
    }
    p{
    font-family: 'Open Sans', sans-serif;
    color: #003644 ;
    font-size: 15px;
    text-align: center;  
    }
    img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    }
}

.row {
    margin: 50px;
}

@for $i from 1 through 3 {
    .articleservicios__#{$i}{
       
        h2{
            text-decoration: underline;
        }
       
    }
}