.h1servicios{
    margin: 50px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    color: #003644 ;
    font-size: $font-size__titulos;
}
.parraffo1servicios{
    margin: 100px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #003644 ;
    font-size: 20px;
    
}

.serviciodiv2{
    display: flex;
    justify-content: center;
}

.serviciosdiv2__hr{
    width: 50%;
    color: #003644 ;
}

.section2__servicios__div{
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   }

.serviciossection2__div__article{
    display: flex;
   flex-direction: column;
   align-items: center;

}      

.styleh2servicios{
    font-family:'Montserrat', sans-serif;
    color: #003644 ;
    text-align: center;
}

.section2servicios__article__div__p{
    font-family: 'Open Sans', sans-serif;
    color: #003644 ;
    font-size: 15px;
   
    text-align: center;
}

.section2servicios__article__div__img{
    width: 200px;
    height: 200px;
   margin-top: 20px;
   margin-left: 70px;
  


}

.row {
    margin: 50px;
}