
.section1servicios{
    h1{
    margin: 50px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    color: #003644 ;
    font-size: $font-size__titulos;
    }
    p{
    margin: 100px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #003644 ;
    font-size: 20px;

    }

}

.serviciosdiv1{
    display: flex;
    justify-content: center;
    hr{
    width: 50%;
    color: #003644 ;
    }
}

.section2servicios__article{
    
    box-shadow: 10px 10px 8px #888888;
    h2{
        text-align: center;
        font-size: 30px;
      

    }
    p{

    }
    img{
        width: 100%;
        object-fit: fill;
        
    }
    

}

.row {
    margin: 50px;
}

@for $i from 1 through 3 {
    .articleservicios__#{$i}{
       
        h2{
            text-decoration: underline;
        }
       
    }
}