@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.section1index div video {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -100;
  top: 50px; }

.section1index div h2 {
  /* aplico operacion sass*/
  margin: 50px;
  text-transform: initial;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 120px;
  font-style: inherit; }

.indexdiv2 {
  display: flex;
  justify-content: center;
  margin: 150px; }
  .indexdiv2 hr {
    width: 75%; }

.section2index__div__1 h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #003644;
  font-size: 40px; }

.section2index__div__1 p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #003644;
  margin: 30px; }

.indexcarrousel__img {
  width: 100%;
  height: 400px; }

/*condicionales*/
.section1index__h2 {
  color: white; }

.indexdiv3 {
  display: flex;
  justify-content: center; }
  .indexdiv3 hr {
    width: 75%; }

.section3index__article {
  box-shadow: 10px 10px 8px #888888; }

.section3__img {
  width: 100%; }

.section3index__h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #003644;
  font-size: 40px; }

.section3index__p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #003644;
  margin: 30px; }

.section1servicios h1 {
  margin: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #003644;
  font-size: 30px; }

.section1servicios p {
  margin: 100px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #003644;
  font-size: 20px; }

.serviciosdiv1 {
  display: flex;
  justify-content: center; }
  .serviciosdiv1 hr {
    width: 50%;
    color: #003644; }

.section2servicios__article {
  box-shadow: 10px 10px 8px #888888; }
  .section2servicios__article h2 {
    text-align: center;
    font-size: 30px; }
  .section2servicios__article img {
    width: 100%;
    object-fit: fill; }

.row {
  margin: 50px; }

.articleservicios__1 h2 {
  text-decoration: underline; }

.articleservicios__2 h2 {
  text-decoration: underline; }

.articleservicios__3 h2 {
  text-decoration: underline; }

.sectionclientes__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px; }
  .sectionclientes__div h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #003644;
    font-size: 30px; }
  .sectionclientes__div p {
    text-align: center;
    margin-top: 80px;
    font-family: 'Open Sans', sans-serif;
    color: #003644;
    font-size: 20px; }

.div__hrclientes {
  display: flex;
  justify-content: center;
  margin: 30px; }
  .div__hrclientes hr {
    width: 50%; }

.clientescarousel__img {
  width: 100%;
  height: 600px;
  object-fit: cover; }

.section2clientes {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-areas: "article1    article2     article2"  "article1    article2     article2"  "article1    article2     article2" "article1    article3     article3" "article1    article3     article3" "article1    article3     article3"; }

.section2clientes__article1 {
  grid-area: article1; }

.section2clientes__article2 {
  grid-area: article2; }

.section2clientes__article3 {
  grid-area: article3; }

.section2clientes__article1__div {
  display: flex;
  flex-direction: column;
  margin: 25px; }

.section2clientes__article2__div {
  display: flex;
  flex-direction: row-reverse;
  margin: 25px; }

.section2clientes__article2__div__div1 {
  display: flex;
  flex-direction: column;
  width: 50%; }

.section2clientes__article3__div {
  display: flex;
  margin: 25px; }

.section2clientes__article3__div__div1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 50px; }

.section2clientes__article__h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #003644;
  text-decoration: underline;
  margin: 10px; }

.section2clientes__article__p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 15px; }

.section2__article1__img {
  transform: translatex(20%);
  height: 350px;
  width: 300px;
  margin-top: 20px;
  object-fit: cover; }

.section2__article2__img {
  height: 260px;
  width: 250px;
  margin-right: 50px;
  object-fit: cover; }

.section2__article3__img {
  height: 260px;
  width: 100%;
  margin-left: 50px;
  object-fit: cover; }

.sectionclientes__div1 h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #003644; }

.sectionclientes__div1 p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #003644;
  margin: 30px; }

.sectionclientes__div2 img {
  width: 100%;
  height: 400px;
  object-fit: cover; }

.ubicacionh1contacto {
  text-align: center;
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #003644;
  font-size: 30px; }

.sectioncontacto {
  margin-top: 100px; }

.h1nosotros {
  text-align: center;
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #003644;
  font-size: 30px; }

.section1nosotros {
  margin: 100px;
  text-align: center; }
  .section1nosotros p {
    font-family: 'Open Sans', sans-serif;
    color: #003644;
    margin: 30px;
    font-size: 20px; }

/* menu de navegacion */
.FondoHeader {
  background-image: linear-gradient(#e0b33f, white);
  height: 90px; }

.nav {
  display: flex;
  justify-content: flex-end; }

.nav__boton {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer; }

.lista {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px; }

.li {
  padding: 30px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #003644; }

.lista li a:hover {
  color: white;
  transition: 2s;
  font-size: 2rem;
  text-decoration: none; }

.Tamañologo {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  z-index: 2;
  animation-duration: 2s;
  animation-name: LOGO;
  transform: rotate(-20deg);
  left: 80%; }

@keyframes LOGO {
  0% {
    opacity: 0%; }
  100% {
    opacity: 1; } }

.colorfuente {
  color: #003644;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; }

/* menu de navegacion para todas las paginas  */
.navfooter {
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(white, #e0b33f); }

.Tamañologofooter {
  width: 93px;
  height: 90px;
  position: relative;
  bottom: -60px; }

.listafooter {
  list-style: none; }

.lifooter {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 60px;
  font-size: 20px; }

#facebook {
  color: #3b5998; }

#instagram {
  color: #3f729b; }

#twitter {
  color: #00acee; }

#whatsapp {
  color: #00bb2d; }

@media (max-width: 768px) {
  .nav__lista-visible {
    left: 0; }
  .Tamañologo {
    position: absolute;
    top: 0px;
    width: 90px;
    height: 90px;
    z-index: 2;
    animation-duration: 2s;
    animation-name: LOGO;
    transform: rotate(-20deg); }
  .collapse {
    background-color: white;
    flex-direction: row; }
  .section1index div video {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -100;
    top: 50px; }
  .section1index div h2 {
    margin-top: 100px;
    text-transform: initial;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 60px;
    font-style: inherit; } }

@media (max-width: 576px) {
  .section1index div video {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -100;
    top: 50px; }
  .section1index div h2 {
    margin-top: 150px;
    text-transform: initial;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    font-style: inherit; }
  .navfooter {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(white, #e0b33f); }
  .lifooter {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    font-size: 20px; } }
